{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}Dashboard RRHH{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}?v=4">
  {% block head %}{% endblock %}


</head>
<body>

  <div class="layout">
    <!-- SIDEBAR IZQUIERDA -->
    <aside class="barra-lateral">
      <div class="marca">Dashboard RRHH</div>
      <nav class="menu" aria-label="Navegación principal">
        <a href="{% url 'dashboard' %}"           data-ruta="{% url 'dashboard' %}">Inicio</a>
        <a href="{% url 'vacaciones_list' %}"     data-ruta="{% url 'vacaciones_list' %}">Vacaciones</a>
        <a href="{% url 'liquidaciones_list' %}"  data-ruta="{% url 'liquidaciones_list' %}">Liquidaciones</a>
        <a href="{% url 'comisiones_list' %}"     data-ruta="{% url 'comisiones_list' %}">Comisiones</a>
        <a href="{% url 'asistencia_list' %}"     data-ruta="{% url 'asistencia_list' %}">Asistencia</a>
        <a href="{% url 'usuarios_list' %}"       data-ruta="{% url 'usuarios_list' %}">Usuarios</a>
      </nav>
    </aside>

    <!-- CONTENIDO -->
    <main class="contenido">
      {% block content %}{% endblock %}
      <footer class="footer">© {{ now|date:"Y" }} Ticashop</footer>
    </main>
  </div>

  {% block scripts %}{% endblock %}
</body>
</html>
